extends layout

block content
    header
        h1 Dashboard
        h3 Welcome, #{username}!
        div
            a(href='/dashboard/upload') Upload Video
        div
            a(href='/dashboard/logout') Logout
    main
        h2 Videos
        each video in videos
            p
                a(href=video.url, target='_blank')  #{video.name} by uploader:#{video.username}