
body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
}

.container {
    width: 80%;
    max-width: 600px;
}


.dashboard-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.video-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.video-item {
    display: flex;
    justify-content: center;
}
